{% extends 'header.html' %}
{% load static %}

{% block title %}О нас{% endblock %}

  {% block content %}
  <div class="container">
    <div class="intro">
      <p>
        Мы — платформа, созданная для тех, кто хочет сделать свою жизнь насыщеннее и интереснее. У нас вы можете не только находить мероприятия, которые вас вдохновляют, но и создавать свои собственные события!
        <br>
        Ищете, чем заняться на выходных? Или хотите собрать людей на свою лекцию, мастер-класс или вечеринку? У нас вы найдете удобный и простой инструмент для создания и посещения мероприятий:
      </p>
      <ul>
        <li> ‏ Создавайте уникальные события, добавляйте описания, выбирайте категории и собирайте участников.</li>
        <li> ‏ Находите мероприятия, которые подходят именно вам, и присоединяйтесь в пару кликов</li>
        <li> ‏ Общайтесь с единомышленниками и развивайте сообщество вокруг своих интересов</li>
      </ul>
      <p>
        Мы верим, что яркие моменты — это не случайность, а результат нашего желания делиться и участвовать. Присоединяйтесь к нам и воплощайте свои идеи в жизнь!
      </p>
      <div class="image-grid">
        <img src="{% static './image/about_img1.png' %}" alt="About Image 1">
        <img src="{% static './image/about_img2.png' %}" alt="About Image 2">
      </div>
    </div>
  </div>
  {% endblock %}

</html>