{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static './css/style.css' %}">
</head>

<body>
  <header>
    <div class="logo">
      <a href="#" target="_blank">
        <img src="{% static './image/logo.svg' %}" alt="EF logo">
      </a>
      <span>Event Flow</span>
    </div>

    <div class="search-bar">
      <img src="{% static './image/search.svg' %}" alt="Search">
      <input type="text" placeholder="События, мероприятия...">
    </div>

    <div class="location">
      <img src="{% static './image/location.svg' %}" alt="Location">
      <span>Алматы</span>
    </div>

    <div class="profile">
      <a href="#" id="dropdownToggle">
        <img src="{% static './image/profile.svg' %}" alt="Profile">
      </a>
      <ul class="dropdown" id="dropdownMenu">
        <li><a href="{% url 'home_page' %}">Главная</a></li>
        <li><a href="#">Настройки</a></li>
        <li><a href="{% url 'create_page' %}">Создать</a></li>
        <li><a href="#">Мои мероприятия</a></li>
        <li><a href="{% url 'user_login' %}">Выйти</a></li>
      </ul>
    </div>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <div class="footer-container">
      <div class="footer-info">
        <p style="color: white; font-size: 32px; margin-bottom: 8px;">Event Flow</p>
        <a href="{% url 'about_page' %}">О нас</a>
        <a href="#">Справка</a>
        <a href="#">Поддержка</a>
        <a href="#">Политика конфиденциальности</a>
      </div>
      <div class="footer-info">
        <a style="color: white; font-size: 32px; margin-bottom: 8px;" href="#">Ваш аккаунт</a>
        <a href="#">Регистрация</a>
        <a href="#">Вход</a>
        <a href="#">Премиум</a>
      </div>
      <div class="footer-logo">
        <img  src="{% static './image/logo.svg' %}" alt="Icon">
      </div>
    </div>
    <div class="footer-subscribe">
      <p>Подписаться на нас:</p>
      <div class="footer-subscribe-icons">
        <a href="#">
          <img src="{% static './image/logo.svg' %}" alt="Facebook">
          <img src="{% static './image/logo.svg' %}" alt="Facebook">
          <img src="{% static './image/logo.svg' %}" alt="Facebook">
          <img src="{% static './image/logo.svg' %}" alt="Facebook">
          <img src="{% static './image/logo.svg' %}" alt="Facebook">
          <img src="{% static './image/logo.svg' %}" alt="Facebook">
        </a>
      </div>
    </div>
  </footer>

  <script src="{% static './js/script.js' %}"></script>
</body>

</html>