{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Login</title>
</head>

<style>
  body {
    background-color: #131313;
    color: white;
  }
</style>

<body>
  <div class="registration-page">
    <img src="{% static 'image/logo.svg' %}" alt="Logo">
    <p class="registration-great">Авторизация</p>
    <div class="registration-change">
      <p>Нет аккаунта?</p><a href="{% url 'register' %}">Зарегистрируйтесь</a>
    </div>
    <form method="POST">
      {% csrf_token %}
      <div class="registration-input">
        <span>Имя пользователя:</span>
        {{ form.username }}
        <span>Пароль:</span>
        {{ form.password }}
        <button type="submit">Войти</button>
      </div>
    </form>
    <span class="registration-line-text">Или</span>
    <div class="registration-icons">
      <a href="#"><img src="{% static './image/login-page/Google.svg' %}" alt="Google" /></a>
      <a href="#"><img src="{% static './image/login-page/VK.svg' %}" alt="VK" /></a>
      <a href="#"><img src="{% static './image/login-page/Facebook.svg' %}" alt="Facebook" /></a>
      <a href="#"><img src="{% static './image/login-page/Apple.svg' %}" alt="Apple" /></a>
    </div>
  </div>
</body>

</html>